#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bottom-index-container {
  justify-content: space-between;
  display: flexbox;
  flex-direction: column;
}

.top-index-container {
  padding: 10px;
  background-color: #1a1a1a;
  border-radius: 10%;
}

.top-down {
  padding: 10px;
}

.button {
  font-size: xxx-large;
  border-radius: 10%;
}